@import 'tailwindcss';

@theme {
  /* Base colors */
  --color-primary: #0077c0;
  --color-secondary: #6a7efc;
  --color-accent: #7ae2cf;
  --color-light-accent: #c7eeff;

  /* Light theme (default) */
  --color-bg: #fafafa;
  --color-surface: #ffffff;
  --color-text: #1d242b;
  --color-text-muted: #1d242b;
  --color-border: #e5e7eb;
}

/* Dark theme */
[data-theme='dark'] {
  --color-bg: #1d242b;
  --color-surface: #1d242b;
  --color-text: #fafafa;
  --color-text-muted: #c7eeff;
  --color-border: #374151;
}
